STRINGTABLE
{

1001, "English"
1002, "Press Printscreen key to make a screenshot"
1003, "Open “Desktop” folder"
1004, "Last screenshots:"
1005, "Screenshoter"
1006, "Autorun application then PC starts"
1007, "Play sound"
1008, "Language"
1009, "About"
1010, "About “Screenshoter”"
1011, "Quit"
1012, "Screenshoter"
1013, "This software is free and open source under zlib license.\012You can use it how you want, modify it, copy, love your mom, but you can't claim, that you wrote original product."
1014, "Evgeny Zelenov, <a href=""http://www.gooseinmyshorts.com"">gooseinmyshorts.com</a>"
1015, "<a href=""http://www.github.com/Zelenov/Screenshoter"">github.com/Zelenov/Screenshoter</a>"
1016, "Screenshoter — {1} {0:MM-DD-YY}"
1101, "Hook have been already set"
1102, "File mapping creation failed"
1103, "File map already exists"
1104, "Mapping view of file failed"
1105, "Access Violation in view"
1106, "Desktop path not found"
1107, "Hook failed"
1108, "Unknown error in hook"
1109, "Bad filename for screenshot"

2001, "Русский"
2002, "Нажмите клавишу PrintScreen, чтобы сделать скриншот"
2003, "Открыть папку «Рабочий стол»"
2004, "Последние скриншоты:"
2005, "Скриншотер"
2006, "Запускать при загрузке компьютера"
2007, "Прогрывать звук"
2008, "Язык"
2009, "О программе"
2010, "О программе «Скриншотер»"
2011, "Выход"
2012, "Скриншотер"
2013, "Это бесплатное программное обеспечение с открытым исходным кодом по лицензии zlib.\012Можете использовать его как хотите, можете изменять, копировать, любить маму, только не можете утверждать, что вы написали оригинальный продукт."
2014, "Евгений Зеленов, <a href=""http://www.gooseinmyshorts.com"">gooseinmyshorts.com</a>"
2015, "<a href=""https://github.com/Zelenov/Screenshoter"">github.com/Zelenov/Screenshoter</a>"
2016, "Скриншотер — {1} {0:DD.MM.YY}"
2101, "Перехват клавиатуры уже был установлен"
2102, "Не удалось создать отображение файла в память "
2103, "Отображение файла в памяти уже создано"
2104, "Не удалось инициализировать общую память"
2105, "Ошибка доступа внутри перехватчика клавиатуры"
2106, "Не удалось получить путь к рабочему столу"
2107, "Перехват клавиатуры провалился"
2108, "Неизвестная ошибка"
2109, "Ошибочное имя файла для скриншота"
}