001, "Русский"
002, "Нажмите клавишу PrintScreen, чтобы сделать скриншот"
003, "Открыть папку «Рабочий стол»"
004, "Последние скриншоты:"
005, "Скриншотер"
006, "Запускать при загрузке компьютера"
007, "Прогрывать звук"
008, "Язык"
009, "О программе"
010, "О программе «Скриншотер»"
011, "Выход"
012, "Скриншотер"
013, "Это бесплатное программное обеспечение с открытым исходным кодом по лицензии zlib.\012Можете использовать его как хотите, можете изменять, копировать, любить маму, только не можете утверждать, что вы написали оригинальный продукт."
014, "Евгений Зеленов, <a href=""http://www.gooseinmyshorts.com"">gooseinmyshorts.com</a>"
015, "<a href=""https://github.com/Zelenov/Screenshoter"">github.com/Zelenov/Screenshoter</a>"
016, "Скриншотер — {1} {0:DD.MM.YY}"
101, "Перехват клавиатуры уже был установлен"
102, "Не удалось создать отображение файла в память "
103, "Отображение файла в памяти уже создано"
104, "Не удалось инициализировать общую память"
105, "Ошибка доступа внутри перехватчика клавиатуры"
106, "Не удалось получить путь к рабочему столу"
107, "Перехват клавиатуры провалился"
108, "Неизвестная ошибка"
109, "Ошибочное имя файла для скриншота"