001, "English"
002, "Press Printscreen key to make a screenshot"
003, "Open “Desktop” folder"
004, "Last screenshots:"
005, "Screenshoter"
006, "Autorun application then PC starts"
007, "Play sound"
008, "Language"
009, "About"
010, "About “Screenshoter”"
011, "Quit"
012, "Screenshoter"
013, "This software is free and open source under zlib license.\012You can use it how you want, modify it, copy, love your mom, but you can't claim, that you wrote original product."
014, "Evgeny Zelenov, <a href=""http://www.gooseinmyshorts.com"">gooseinmyshorts.com</a>"
015, "<a href=""http://www.github.com/Zelenov/Screenshoter"">github.com/Zelenov/Screenshoter</a>"
016, "Screenshoter — {1} {0:MM-DD-YY}"
101, "Hook have been already set"
102, "File mapping creation failed"
103, "File map already exists"
104, "Mapping view of file failed"
105, "Access Violation in view"
106, "Desktop path not found"
107, "Hook failed"
108, "Unknown error in hook"
109, "Bad filename for screenshot"
